<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, data: { turbo: false } %> |
      <%= link_to "Comment on this post", new_post_comment_path(post) %>
    </p>
  <% end %>
<% else %>
  <p>No posts available.</p>
<% end %>

<%= link_to "New post", new_post_path %>
